<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>个人中心</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}"
	type="image/x-icon" />
<!-- css -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/member/center.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>
<script th:src="@{/custom/member/center.js}"></script>
</head>
<body>
	<!-- tip-nav -->
	<div th:include="/_model/_index-nav :: index-nav"></div>
	<!-- main -->
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-md3 center-nav">
				<ul id="center-nav" class="layui-nav layui-nav-tree"
					lay-filter="test">
					<li class="layui-nav-item layui-this layui-nav-itemed"><a
						data="member-info" href="javascript:void(0);"><i
							class="layui-icon">&#xe612;</i> 基本信息</a></li>
					<li class="layui-nav-item"><a data="tip-list"
						href="javascript:void(0);"><i class="layui-icon">&#xe705;</i>
							我的技巧</a></li>
					<li class="layui-nav-item"><a href="#"><i
							class="layui-icon">&#xe658;</i> 我的勋章</a></li>
					<li class="layui-nav-item"><a href="#"><i
							class="layui-icon">&#xe639;</i> 我的道具</a></li>
					<li class="layui-nav-item"><a href="#"><i
							class="layui-icon">&#xe698;</i> 积分商城</a></li>
				</ul>
			</div>
			<div id="main-container" class="layui-col-md9">
				<div id="member-info" class="layui-row">
					<div class="layui-col-md12">
						<div class="layui-row basic">
							<div class="head-img">
								<img alt="" src="" />
							</div>
							<div class="edit">
								<a data="edit" href="javascript:void(0);"> 修改资料 </a>
							</div>

							<div class="nickname">
								<span></span>
							</div>

							<div class="motto">
								<span></span>
							</div>
							<div class="point">
								积分：<span></span>
							</div>
						</div>
						<div class="layui-row dynamic layui-col-space20">
							<div class="layui-col-md4">
								<div class="box layui-bg-red">
									<div class="icon">
										<i class="fa fa-paper-plane-o"></i>
									</div>
									<div class="text">
										<span>发布：2</span>
									</div>
								</div>
							</div>
							<div class="layui-col-md4">
								<div class="box layui-bg-orange">
									<div class="icon">
										<i class="fa fa-paper-plane-o"></i>
									</div>
									<div class="text">
										<span>记录：22</span>
									</div>
								</div>
							</div>
							<div class="layui-col-md4">
								<div class="box layui-bg-green">
									<div class="icon">
										<i class="fa fa-paper-plane-o"></i>
									</div>
									<div class="text">
										<span>收藏：123</span>
									</div>
								</div>
							</div>
							<div class="layui-col-md4">
								<div class="box layui-bg-cyan">
									<div class="icon">
										<i class="fa fa-paper-plane-o"></i>
									</div>
									<div class="text">
										<span>收藏：123</span>
									</div>
								</div>
							</div>
							<div class="layui-col-md4">
								<div class="box layui-bg-blue">
									<div class="icon">
										<i class="fa fa-paper-plane-o"></i>
									</div>
									<div class="text">
										<span>收藏：123</span>
									</div>
								</div>
							</div>
							<div class="layui-col-md4">
								<div class="box layui-bg-black">
									<div class="icon">
										<i class="fa fa-paper-plane-o"></i>
									</div>
									<div class="text">
										<span>收藏：123</span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div id="member-edit" class="layui-row hide">
					<div class="layui-col-md12">
						<div class="head-img">
							<img alt="" src="" />
						</div>
						<form id="form-basic" class="layui-form layui-form-pane">
							<div class="layui-form-item">
								<label class="layui-form-label">昵称</label>
								<div class="layui-input-block">
									<input name="nickname" class="layui-input" />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">年龄</label>
								<div class="layui-input-block">
									<input name="age" class="layui-input" />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">性别</label>
								<div class="layui-input-block">
									<input name="sex" class="layui-input" />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">签名</label>
								<div class="layui-input-block">
									<input name="motto" class="layui-input" />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">生日</label>
								<div class="layui-input-block">
									<input name="birthday" class="layui-input" />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">职业</label>
								<div class="layui-input-block">
									<input name="occupation" class="layui-input" />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">邮箱</label>
								<div class="layui-input-block">
									<input name="email" class="layui-input" />
								</div>
							</div>

							<div class="layui-form-item">
								<button id="updateBasic" type="button" class="layui-btn">提交</button>
							</div>
						</form>
					</div>
				</div>
				<div id="tip-list" class="hide layui-row">
					<div class="layui-col-md12">
						<div id="my-tip" class="tip-list"></div>
					</div>
					<div class="layui-col-md12">
						<div id="bottom-laypage"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div th:include="/_model/_footer :: tip-footer"></div>
</body>
</html>