<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>个人中心</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}" type="image/x-icon"/>  

<!-- css -->
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />

<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<script th:src="@{/custom/common/js/ajaxCustome.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>
<style type="text/css">
.tip-entry{
font-size: 20px;
height: 50px;
}

.tip-entry a{
color: #282828;
}

.tip-entry span{
right: 0px;
position: absolute;
color: #a9a9a9;
font-size: 14px;
}

#bottom-laypage{
position: absolute;
right:0px;
}


</style>
<script type="text/javascript">
$(function(){
	var pageSize = 8;
	//nav
	$(document).on("click","#center-nav li a",function(){
		$("#center-nav li").removeClass("active");
		$(this).parent().addClass("active");
		$("#main-container").children().addClass("hide");
		var showBoxId = $(this).attr("data");
		$("#"+showBoxId).removeClass("hide");
		if(showBoxId=="tip-list"){
			loadList(1, pageSize, "my-tip");
		}
	});
	
});

layui.use('laypage', function(){
  var laypage = layui.laypage;
  var pageSize = 10;
  //执行一个laypage实例
  laypage.render({
    elem: 'bottom-laypage', //注意，这里的 test1 是 ID，不用加 # 号
    count: 12, //数据总数，从服务端得到
    limit: pageSize, //每页显示的条数。laypage将会借助 count 和 limit 计算出分页数。
    layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
    jump: function(obj, first){
        //obj包含了当前分页的所有参数，比如：
        console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
        console.log(obj.limit); //得到每页显示的条数
        loadList(obj.curr,obj.limit,"my-tip");
        //首次不执行
        if(!first){
          //do something
        }
      }
  });
});



function loadList(pageNum, pageSize, boxId) {
	var tipShowBox = $("#" + boxId);
	tipShowBox.empty();
	var getUrl = "/api/tip/member/release/list";
	var requestData = "pageNum=" + pageNum + "&pageSize=" + pageSize;
	$.get(getUrl,requestData,function(result){
		$.each(result.data.list, function(n, value) {
			tipShowBox.append('<div class="tip-entry">'
					+(n+1)+'. '
					+ '<a class="tip-info"'
					+ 'href="/tip/'+value.id+'/detail">' + value.title + '</a>'
					+ '<span>' + getDateDiff(value.gmtCreate)
					+ '</span></div>');
		});
	});
}


</script>


</head>
<body>

	<!-- tip-nav -->
	<div th:include="/_model/_index-nav :: index-nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
			<ul id="center-nav" class="nav nav-pills nav-stacked">
				<li class="active"><a data="member-info" href="javascript:void(0);">基本信息</a></li>
				<li><a data="tip-list" href="javascript:void(0);">我的技巧</a></li>
				<li><a href="#">我的勋章</a></li>
				<li><a href="#">我的道具</a></li>
				<li><a href="#">积分商城</a></li>
			</ul>
			
			</div>
			<div id="main-container" class="col-md-9">
				<div id="member-info" class="row">
						<div class="col-md-12">
							用户信息
							<i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe60c;</i>  
						</div>
				</div>
				<div id="tip-list" class="hide row">
					<div class="col-md-12">
						<div id="my-tip" class="tip-list"></div>
					</div>
					<div class="col-md-12">
						<div id="bottom-laypage"></div>
					</div>
				</div>
				
			</div>
			
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:include="/_model/_footer :: tip-footer"></div>
</body>
</html>