<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>个人中心</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}" type="image/x-icon"/>  

<!-- css -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />

<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<script th:src="@{/custom/common/js/ajaxCustome.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>
<style type="text/css">
body{
background-color:#fff;
}

.center-nav{
min-height:600px;
}

.center-nav ul{
min-height:600px;
}

.center-nav ul a,.center-nav ul i{
font-size: 18px !important;
}
.center-nav ul i{
width:20px;
margin-right:10px;
}

.tip-entry{
font-size: 20px;
height: 50px;
}

.tip-entry a{
color: #282828;
}

.tip-entry span{
right: 0px;
position: absolute;
color: #a9a9a9;
font-size: 14px;
}

#bottom-laypage{
position: absolute;
right:0px;
}


</style>
<script type="text/javascript">
layui.use(['laypage','upload'], function(){
  var laypage = layui.laypage;
  var upload = layui.upload;
  //执行实例
  var uploadInst = upload.render({
    elem: '#test1', //绑定元素
    url: '/api/img/upload/tip', //上传接口
    done: function(res){
      //上传完毕回调
      console.log(JSON.stringify(res));
    },
    error: function(){
      //请求异常回调
    }
  });
  
  //每页记录数
  var pageSize = 10;
  //技巧列表数据接口
  var tipListUrl = "/api/tip/a/member/release/list";
  $(function(){
		//left nav
		$(document).on("click","#center-nav li a",function(){
			$("#center-nav li").removeClass("layui-nav-itemed");
			$(this).parent().addClass("layui-nav-itemed");
			$("#main-container").children().addClass("hide");
			var showBoxId = $(this).attr("data");
			$("#"+showBoxId).removeClass("hide");
			if(showBoxId=="tip-list"){
				var tipShowBoxId="my-tip";
				var layPageId ="bottom-laypage";
				loadListWithLayPage(1,tipShowBoxId,layPageId);
			}
		});
	});
  
  function loadListWithLayPage(pageNum,boxId,layPageId) {
		$.get(tipListUrl,{"pageNum":pageNum, "pageSize":pageSize},function(result){
		     laypage.render({
				    elem: layPageId, //注意，这里的 是 id，不用加 # 号
				    count: result.data.total, //数据总数，从服务端得到
				    limit: pageSize, //每页显示的条数。laypage将会借助 count 和 limit 计算出分页数。
				    layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
				    jump: function(obj, first){
				    	iniTipShowBox(result.data.list,boxId);
				        if(!first){
					        $.get(tipListUrl,{"pageNum":obj.curr, "pageSize":obj.limit},function(rd){
								iniTipShowBox(rd.data.list,boxId);
							});
				        }
				      }
				  });
		});
	}
  
  function iniTipShowBox(recordList,boxId){
	var tipShowBox = $("#" + boxId);
	tipShowBox.empty();
	$.each(recordList, function(n, value) {
		tipShowBox.append('<div class="tip-entry">'
				+(n+1)+'. '
				+ '<a class="tip-info"'
				+ 'href="/tip/'+value.id+'/detail">' + value.title + '</a>'
				+ '<span>' + getDateDiff(value.gmtCreate)
				+ '</span></div>');
	});
  }
  
  
});
</script>


</head>
<body>

	<!-- tip-nav -->
	<div th:include="/_model/_index-nav :: index-nav"></div>

	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-md3 center-nav">
				<ul id="center-nav" class="layui-nav layui-nav-tree" lay-filter="test">
					<li class="layui-nav-item layui-nav-itemed"><a data="member-info" href="javascript:void(0);"><i class="layui-icon">&#xe612;</i> 基本信息</a></li>
					<li class="layui-nav-item"><a data="tip-list" href="javascript:void(0);"><i class="layui-icon">&#xe705;</i> 我的技巧</a></li>
					<li class="layui-nav-item"><a href="#"><i class="layui-icon">&#xe658;</i> 我的勋章</a></li>
					<li class="layui-nav-item"><a href="#"><i class="layui-icon">&#xe639;</i> 我的道具</a></li>
					<li class="layui-nav-item"><a href="#"><i class="layui-icon">&#xe698;</i> 积分商城</a></li>
					
				</ul>
			
			</div>
			<div id="main-container" class="layui-col-md9">
				<div id="member-info" class="layui-row">
						<div class="layui-col-md12">
							用户信息待完善
						</div>
				</div>
				<div id="tip-list" class="hide layui-row">
					<div class="layui-col-md12">
						<div id="my-tip" class="tip-list"></div>
					</div>
					<div class="layui-col-md12">
						<div id="bottom-laypage"></div>
					</div>
				</div>
				
			</div>
			
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:include="/_model/_footer :: tip-footer"></div>
</body>
</html>