<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>用户登录</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}"
	type="image/x-icon" />

<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/custom/common/css/common.css}" />
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<style type="text/css">

.login-box-form {
	padding: 60px 70px 0px 0px;
	background: #fefefe;
}

.login-box-form .layui-form-item {
	margin-bottom: 30px;
}

.layui-form-item {
	position: relative;
}

.reset-password {
	right: 0px;
	position: absolute;
	top: 10px;
}

.layui-btn {
	width: 100%;
	margin-top: 10px;
}

.signup-link {
	text-align: center;
	margin-top: 30px;
}
</style>
<script>
layui.use('form', function() {
	var form = layui.form; //获取form模块
	//自定义验证规则
	form.verify({
	  pass: [/^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格']
	});
	
	form.on('submit(signin)', function(data){
		$.post('/api/login',data.field,function(rd){
		 if (rd.result) {
				location.href = "/index";
			} else {
				alert("登录失败，账号或密码不正确");
			}
		});
		return false;
	});
});
</script>
</head>
<body>
	<div class="tip-page">
		<!-- index-nav -->
		<div th:include="/_model/_index-nav :: index-nav"></div>
		<div class="layui-container">
			<div class="layui-row">
				<div class="login-box-form layui-col-md6 layui-col-md-offset3">
					<form class="layui-form" th:action="@{/api/login}" method="POST">
						<div class="layui-form-item">
							<label for="userName" class="layui-form-label">手机号</label>
							<div class="layui-input-block">
								<input id="userName" type="text" name="userName"
									value="15968183204" required="required" lay-verify="required|phone"
									placeholder="请输入手机号" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label for="password" class="layui-form-label">密码</label>
							<div class="layui-input-block">
								<input id="password" type="password" name="password"
									value="123456" required="required" lay-verify="required|pass"
									placeholder="请输入密码" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label"></label>
								<div class="layui-input-inline" style="width: 100px;">
									<input lay-skin="primary" title="记住我" checked=""
										type="checkbox">
								</div>
							</div>
							<div class="layui-inline reset-password">
								<a th:href="@{/login/reset/pw}">忘记密码？</a>
							</div>
						</div>

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button lay-submit="lay-submit" lay-filter="signin" type="button" class="layui-btn">登录</button>
							</div>
							<div class="signup-link layui-input-block">
								<a th:href="@{/login/signup}">没有账号？注册一个</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div th:include="/_model/_footer :: tip-footer"></div>
	</div>
</body>
</html>