<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>个人空间</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}" type="image/x-icon"/>  

<!-- css -->
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
	
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/index/index.css}" />
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>

</head>
<body>
	<div class="tip-page">
		<!-- index-nav -->
		<div th:include="/_model/_index-nav :: index-nav"></div>
		<div class="layui-container">
			<!-- main -->
			<div class="row">个人空间：待完善</div>
			<!-- footer -->
			<div th:include="/_model/_footer :: tip-footer"></div>
		</div>
</body>
</html>