<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>我的草稿</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}" type="image/x-icon"/>  
<!-- css -->
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<script th:src="@{/custom/common/js/ajaxCustome.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>

<script type="text/javascript">
	function loadList(pageNum,pageSize){
		var tipShowBox = $("#tip-list-box");
		tipShowBox.empty();
		var getUrl = "/api/tip/draft/list";
		var requestData = "pageNum="+pageNum+"&pageSize="+pageSize;
		$.get(getUrl,requestData,function(result){
			$.each(result.data.list, function(n, value) {
				tipShowBox.append('<li class="tip-box">'
						+ '<h2><a data-type="draft-info" data="' + value.id
						+ '" href="javascript:void(0);">' + value.title + '</a></h2>'
						+ '<br/><span>' + getDateDiff(value.gmtCreate) + '</span>' + '</li>');
			});
			iniPaginatoin(result.data,"tip-pagination");
		});
	}
	
	$(function() {
		var pageSize = 5;
		loadList(1,pageSize);
		$("#tip-pagination").on("click","a",function(){
			var currentPageNum = $(this).attr("data");
			if(currentPageNum!=null){
				loadList(currentPageNum,pageSize);
			}
		});		

		$("#tip-list-box").on("click","a[data-type='draft-info']",function() {
			var tipId = $(this).attr("data");
			location.href = "/tip/" + tipId + "/edit";
		});
	});
</script>


</head>
<body>
	<!-- tip-nav -->
		<!-- tip-nav -->
	<div class="index-nav">
		<div class="index-nav-logo">
			<a th:href="@{/index}"><img width="50px" height="50px" alt=""
				th:src="@{/custom/common/image/logo.png}"></a>

		</div>
		<div class="main-nav">
			<ul class="layui-nav" lay-filter="">
				<li data="write" class="layui-nav-item"><a th:href="@{/tip/write}">发技巧</a></li>
				<li data="tip" class="layui-nav-item"><a th:href="@{/member/tip}">我的草稿</a></ul>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul id="tip-list-box" class="tip-list-box">
				</ul>
			</div>

			<div class="col-md-12">
				<div class="col-md-6 pull-right">
					<ul id="tip-pagination" class="pagination pagination-sm">
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!-- footer -->
	<div th:include="/_model/_footer :: tip-footer"></div>
</body>
</html>