<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>我的草稿</title>
<!-- css -->
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/custom/common/js/ajaxCustome.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>
<script type="text/javascript">

	function loadList(pageNum,pageSize){
		var tipShowBox = $("#tip-list-box");
		tipShowBox.empty();
		var getUrl = "/api/tip/draft/list";
		var requestData = "pageNum="+pageNum+"&pageSize="+pageSize;
		var result = ajaxGetData(getUrl, requestData);
		$.each(result.data.list, function(n, value) {
			tipShowBox.append('<li class="tip-box">'
					+ '<h2><a data-type="draft-info" data="' + value.id
					+ '" href="javascript:void(0);">' + value.title + '</a>'
					+ '<p>' + getDateDiff(value.gmtCreate) + '</p>' + '</li>');
		});
		
		iniPaginatoin(result);
		return result;
	}
	
	function iniPaginatoin(result){
		var prePage = result.data.prePage;
		var nextPage = result.data.nextPage;
		var totalPages = result.data.pages;
		
		var tipPaginationNode  =$("#tip-pagination");
		tipPaginationNode.empty();
		tipPaginationNode.append('<li class="previous"><a data="'+prePage+'" href="javascript:void(0);">&larr;</a></li>');
		$.each(result.data.navigatepageNums,function(index,value){
			tipPaginationNode.append('<li><a data="'+value+'" href="javascript:void(0);">'+value+'</a></li>');
		});
		tipPaginationNode.append('<li class="next"><a  data="'+nextPage+'" href="javascript:void(0);">&rarr;</a></li>');
	}
	
	$(function() {
		var pageSize = 5;
		
		loadList(1,pageSize);
		$("#tip-pagination").on("click","a",function(){
			var currentPageNum = $(this).attr("data");
			loadList(currentPageNum,pageSize);
		});		

		$("a[data-type='draft-info']").click(function() {
			var tipId = $(this).attr("data");
			location.href = "/tip/" + tipId + "/edit";
		});
	});
</script>


</head>
<body>
	<!-- tip-nav -->
	<div th:include="/_model/_tip-nav :: tip-nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul id="tip-list-box" class="tip-list-box">
				</ul>
			</div>

			<div class="col-md-12">
				<div class="col-md-6 pull-right">
					<ul id="tip-pagination" class="pagination pagination-sm">
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!-- footer -->
	<div th:include="/_model/_footer :: tip-footer"></div>
</body>
</html>