<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>我的草稿</title>
<!-- css -->
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/custom/common/js/ajaxCustome.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>
<style type="text/css">
#tip-list-box span{




}


</style>

<script type="text/javascript">

	function loadList(pageNum,pageSize){
		var tipShowBox = $("#tip-list-box");
		tipShowBox.empty();
		var getUrl = "/api/tip/draft/list";
		var requestData = "pageNum="+pageNum+"&pageSize="+pageSize;
		var result = ajaxGetData(getUrl, requestData);
		$.each(result.data.list, function(n, value) {
			tipShowBox.append('<li class="tip-box">'
					+ '<h2><a data-type="draft-info" data="' + value.id
					+ '" href="javascript:void(0);">' + value.title + '</a></h2>'
					+ '<br/><span>' + getDateDiff(value.gmtCreate) + '</span>' + '</li>');
		});
		
		iniPaginatoin(result.data);
		return result;
	}
	
	function iniPaginatoin(pageInfo){
		var prePage = pageInfo.prePage;
		var nextPage = pageInfo.nextPage;
		var totalPages = pageInfo.pages;
		var hasPreviousPage = pageInfo.hasPreviousPage;
		var hasNextPage = pageInfo.hasNextPage;
		var pageNum = pageInfo.pageNum;
		var isFirstPage = pageInfo.isFirstPage;
		var isLastPage = pageInfo.isLastPage;
		//加载页码
		var tipPaginationNode  =$("#tip-pagination");
		tipPaginationNode.empty();
		//首页
		if(isFirstPage){
			tipPaginationNode.append('<li class="disabled"><a data="'+1+'" href="javascript:void(0);">首页</a></li>');	
		}else{
			tipPaginationNode.append('<li><a data="'+1+'" href="javascript:void(0);">首页</a></li>');
		}
		//上一页
		if(hasPreviousPage){
			tipPaginationNode.append('<li class="previous"><a data="'+prePage+'" href="javascript:void(0);"><i class="fa fa-chevron-left"></i></a></li>');
		}else{
			tipPaginationNode.append('<li class="disabled"><a href="javascript:void(0);"><i class="fa fa-chevron-left"></i></a></li>');
		}
		//页码
		$.each(pageInfo.navigatepageNums,function(index,value){
			//当前页判断
			if(pageNum==value){
				tipPaginationNode.append('<li class="active"><a data="'+value+'" href="javascript:void(0);">'+value+'</a></li>');	
			}else{
				tipPaginationNode.append('<li><a data="'+value+'" href="javascript:void(0);">'+value+'</a></li>');
			}
		});
		//下一页
		if(hasNextPage){
			tipPaginationNode.append('<li class="next"><a data="'+nextPage+'" href="javascript:void(0);"><i class="fa fa-chevron-right"></i></a></li>');
		}else{
			tipPaginationNode.append('<li class="disabled"><a href="javascript:void(0);"><i class="fa fa-chevron-right"></i></a></li>');
		}
		//尾页
		if(isLastPage){
			tipPaginationNode.append('<li class="disabled"><a data="'+totalPages+'" href="javascript:void(0);">尾页</a></li>');
		}else{
			tipPaginationNode.append('<li><a data="'+totalPages+'" href="javascript:void(0);">尾页</a></li>');
		}
	}
	
	$(function() {
		var pageSize = 5;
		loadList(1,pageSize);
		$("#tip-pagination").on("click","a",function(){
			var currentPageNum = $(this).attr("data");
			if(currentPageNum!=null){
				loadList(currentPageNum,pageSize);
			}
		});		

		$("#tip-list-box").on("click","a[data-type='draft-info']",function() {
			var tipId = $(this).attr("data");
			location.href = "/tip/" + tipId + "/edit";
		});
	});
</script>


</head>
<body>
	<!-- tip-nav -->
	<div th:include="/_model/_tip-nav :: tip-nav"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul id="tip-list-box" class="tip-list-box">
				</ul>
			</div>

			<div class="col-md-12">
				<div class="col-md-6 pull-right">
					<ul id="tip-pagination" class="pagination pagination-sm">
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!-- footer -->
	<div th:include="/_model/_footer :: tip-footer"></div>
</body>
</html>