body {
	background-color: #fff;
}

.center-nav {
	min-height: 600px;
}

.center-nav ul {
	min-height: 600px;
}

.center-nav ul a, .center-nav ul i {
	font-size: 16px !important;
}

.center-nav ul i {
	width: 20px;
	margin-right: 10px;
}

.tip-entry {
	font-size: 20px;
	height: 50px;
}

.tip-entry a {
	color: #282828;
}

.tip-entry span {
	right: 0px;
	position: absolute;
	color: #a9a9a9;
	font-size: 14px;
}

#bottom-laypage {
	position: absolute;
	right: 0px;
}