<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${rd.data.title}"></title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}"
	type="image/x-icon" />
<!-- css -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/tip/detail.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>
<script th:src="@{/custom/common/js/number.js}"></script>
<script type="text/javascript">
layui.use(['layer','util','laypage'],function() {
		var layer = layui.layer;
		var util = layui.util;
		var laypage = layui.laypage;
		var isLogged = entryStatus();
		//回顶部
		util.fixbar({
		});

		$(function() {
			var pageNum = 1;
			var pageSize = 5;

			//ini comment
			iniComment(pageNum, pageSize);

			//commit comment
			$(document).on("click",'[data-type="submitComment"]',function() {	
				if(!isLogged){
					layer.msg("请先登录再评论");
					return false;
				}
				if($("#commentContent").val()== ""){
					layer.msg("不能发表空评论");
					return false;
				}
				var tipId = $('input[name="tipId"]').val();
				var postJson = {};
				postJson.content = $("#commentContent").val();
				postJson.tfReply= $('input[name="tfReply"]').val();
				$.ajax({
					type: "POST",
					url: "/api/tip/a/" + tipId+ "/comment",
					contentType: CTJ,
					dataType: "JSON",
					data:JSON.stringify(postJson),
					success:function(rd){
						if (rd.result) {
							layer.msg("操作成功", {icon: 1});
							setTimeout(function() {
								iniComment(pageNum, pageSize);
								$("#commentContent").val("");
							}, 1000);
							
						}
					}
				});
			});
			//submitButton control
			$('#commentContent').on('change',function() {
				var submitButton = $('#submitComment');
				if ($(this).val() == "") {
					submitButton.attr("data-type", "");
					submitButton.addClass("layui-btn-disabled");
				} else {
					submitButton.attr("data-type","submitComment");
					submitButton.removeClass("layui-btn-disabled");
				}
			});
		});

	//ini comment
	function iniComment(pageNum, pageSize) {
		var tipId = $('input[name="tipId"]').val();
		var url = "/api/tip/" + tipId + "/comment";
		$.get(url,{"pageNum":pageNum,"pageSize":pageSize},function(rd){
			//list
			if(iniCommentList(rd.data)){
				//page
				laypage.render({
				    elem: "bottom-laypage", //注意，这里的 是 id，不用加 # 号
				    count: rd.data.total, //数据总数，从服务端得到
				    limit: pageSize, //每页显示的条数。laypage将会借助 count 和 limit 计算出分页数。
				    prev:'<i class="fa fa-chevron-left"></i>',
				    next:'<i class="fa fa-chevron-right"></i>',
				    layout: ['count','prev', 'next'],
				    jump: function(obj, first){
				        if(!first){
				        	$.get(url,{"pageNum":obj.curr,"pageSize":obj.limit},function(rd){
				    			iniCommentList(rd.data);
				        	});
				        }
				      }
			 	 });
			}
		});
	}
		
	//ini comment
	function iniCommentList(pageInfo) {
		var total  = pageInfo.total;
		//update top
		autoIncrease(pageInfo.total,$("#commentNumber"));
		//ini show box
		var showBox = $("#comment-show-box");
		showBox.empty();
		if(total==0){
			showBox.append('<div class="no-comment">抢沙发啦！</div>');
			return false;
		}
		
		$.each(pageInfo.list,function(n, value) {
			console.log(JSON.stringify(value));
			if (value.tfReply) {
				showBox.append('<div class="comment-entity"><div class="member-show">'
								+ '<img src="'+value.belongUser.headUrl+'">'
								+ '<span data="'+value.belongUser.id+'" class="member-link">'
								+ value.belongUser.nickname
								+ '</span>'
								+ '<span class="reply">回复</span>'
								+ '<span data="'+value.replyMember.id+'" class="member-link">'
								+ value.replyMember.nickname
								+ '</span>'
								+ '<span class="time" >'
								+ getDateDiff(value.gmtCreate)
								+ '</span>'
								+ '</div>'
								+ '<div class="comment-content">'
								+ '<span>'
								+ value.content
								+ '</span>'
								+ '</div></div>');
			} else {
				showBox.append('<div class="comment-entity"><div class="member-show">'
								+ '<img src="'+value.belongUser.headUrl+'">'
								+ '<span data="'+value.belongUser.id+'" class="member-link">'
								+ value.belongUser.nickname
								+ '</span>'
								+ '<span class="time" >'
								+ getDateDiff(value.gmtCreate)
								+ '</span>'
								+ '</div>'
								+ '<div class="comment-content">'
								+ '<span>'
								+ value.content
								+ '</span>'
								+ '</div></div>');
			}
		});
		return true;
	}
});
</script>


</head>
<body>
	<div class="tip-page">

		<!-- index-nav -->
		<div th:include="/_model/_index-nav :: index-nav"></div>

		<div class="layui-container">
			<!-- main -->
			<div class="layui-row">
				<div class="layui-col-md8">
					<!-- tip-->
					<div class="layui-row tip-box gray-shadow">
						<div class="layui-col-md12">
							<input name="tipId" class="hide" th:value="${rd.data.id}"
								type="text" />
							<div class="tip-title">
								<h3 th:text="${rd.data.title}"></h3>
							</div>
							<div class="tip-status">
								<div class="section">
									<span class="layui-badge layui-bg-green">板块1</span> <span
										class="layui-badge layui-bg-yellow">板块2</span> <span
										class="layui-badge layui-bg-blue">板块3</span>
								</div>
								<div class="comment">
									<span id="commentNumber">0</span> <i class="fa fa-commenting-o"></i>
								</div>
								<div class="thumbs-up">
									234 <i class="fa fa-thumbs-o-up"></i>
								</div>
								<div class="thumbs-down">
									22 <i class="fa fa-thumbs-o-down"></i>
								</div>
							</div>
							<div class="tip-content" th:utext="${rd.data.content}"></div>
						</div>
					</div>


					<!-- comment -->
					<div class="layui-row comment-box gray-shadow">
						<div class="layui-col-md12">
							<!-- show -->
							<fieldset class="layui-elem-field">
								<legend>评论</legend>
								<div class="layui-field-box">
									<div class="layui-row">
										<div id="comment-show-box" class="layui-col-md12"></div>
									</div>
									<div class="layui-row">
										<div class="layui-col-md12">
											<div id="bottom-laypage"></div>
										</div>
									</div>
								</div>
							</fieldset>
							<!-- write -->
							<div class="layui-row write-box">
								<div class="layui-col-md12">
									<form class="layui-form">
										<div class="layui-form-item layui-form-text">
											<input name="tfReply" class="hide" value="false" type="text" />
											<textarea id="commentContent" name="content" placeholder="说点什么"
												class="layui-textarea" autocomplete="off"></textarea>
										</div>
										<div class="layui-form-item">
											<button id="submitComment" data-type="submitComment"
												type="button" class="layui-btn">评论</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="author-box gray-shadow">
						<div class="author-show" th:object="${rd.data.belongMember}">
							<img th:src="*{headUrl}" />
							<div th:data="*{id}" class="member-link" th:text="*{nickname}"></div>
							<div class="badge">
								<span class="layui-badge layui-bg-green">板块1</span> <span
									class="layui-badge layui-bg-yellow">板块2</span> <span
									class="layui-badge layui-bg-blue">板块3</span>
							</div>
							<div class="motto" th:text="*{motto}"></div>
						</div>
					</div>

					<div class="author-box gray-shadow">同类文章</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div th:include="/_model/_footer :: tip-footer"></div>
	</div>
</body>
</html>