<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${rd.data.title}"></title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}"
	type="image/x-icon" />
<!-- css -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/tip/detail.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>
<script th:src="@{/custom/common/js/number.js}"></script>
<script th:src="@{/custom/tip/detail.js}"></script>


</head>
<body>
	<div class="tip-page">

		<!-- index-nav -->
		<div th:include="/_model/_index-nav :: index-nav"></div>

		<div class="layui-container">
			<!-- main -->
			<div class="layui-row">
				<div class="layui-col-md8">
					<!-- tip-->
					<div class="layui-row tip-box gray-shadow">
						<div class="layui-col-md12">
							<input name="tipId" class="hide" th:value="${rd.data.id}"
								type="text" />
							<div class="tip-title">
								<h3 th:text="${rd.data.title}"></h3>
							</div>
							<div class="tip-status">
								<div class="section">
									<span th:each="plate, plateStat:${rd.data.plates}" th:text="${plate.name}" class="layui-badge layui-bg-green"></span> 
								</div>
								<div class="comment">
									<span id="commentNumber">0</span> <i class="fa fa-commenting-o"></i>
								</div>
								<div class="thumbs-up">
									234 <i class="fa fa-thumbs-o-up"></i>
								</div>
								<div class="thumbs-down">
									22 <i class="fa fa-thumbs-o-down"></i>
								</div>
							</div>
							<div class="tip-content" th:utext="${rd.data.content}"></div>
						</div>
					</div>


					<!-- comment -->
					<div class="layui-row comment-box gray-shadow">
						<div class="layui-col-md12">
							<!-- show -->
							<fieldset class="layui-elem-field">
								<legend>评论</legend>
								<div class="layui-field-box">
									<div class="layui-row">
										<div id="comment-show-box" class="layui-col-md12"></div>
									</div>
									<div class="layui-row">
										<div class="layui-col-md12">
											<div id="bottom-laypage"></div>
										</div>
									</div>
								</div>
							</fieldset>
							<!-- write -->
							<div class="layui-row write-box">
								<div class="layui-col-md12">
									<form class="layui-form">
										<div class="layui-form-item layui-form-text">
											<input name="tfReply" class="hide" value="false" type="text" />
											<textarea id="commentContent" name="content" placeholder="说点什么"
												class="layui-textarea" autocomplete="off"></textarea>
										</div>
										<div class="layui-form-item">
											<button id="submitComment" data-type="submitComment"
												type="button" class="layui-btn">评论</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="author-box gray-shadow">
						<div class="author-show" th:object="${rd.data.belongMember}">
							<img th:src="*{headUrl}" />
							<div th:data="*{id}" class="member-link" th:text="*{nickname}"></div>
							<div class="badge">
								<span class="layui-badge layui-bg-green">板块1</span> <span
									class="layui-badge layui-bg-yellow">板块2</span> <span
									class="layui-badge layui-bg-blue">板块3</span>
							</div>
							<div class="motto" th:text="*{motto}"></div>
						</div>
					</div>

					<div class="author-box gray-shadow">同类文章</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div th:include="/_model/_footer :: tip-footer"></div>
	</div>
</body>
</html>