<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>技巧编辑</title>
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<style type="text/css">
        .toolbar {
            border: 1px solid #ccc;
        }
        .text {
            border: 1px solid #ccc;
            height: 400px;
        }
    </style>
</head>
<body>

	<div class="container" style="margin-top:200px">
	   <div class="row">
	      <div class="col-md-12">
		       <div id="div1" class="toolbar">
			    </div>
			    <div style="padding: 5px 0; color: #ccc">
			    <hr/>
			    </div>
			    <div id="div2" class="text"> <!--可使用 min-height 实现编辑区域自动增加高度-->
			        <p>请输入内容</p>
			    </div>
	      </div>  
	   </div>
	</div>

	<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
	<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/plugin/editor/wangEditor.min.js}"></script>
	<script type="text/javascript">
        var E = window.wangEditor
        var editor1 = new E('#div1', '#div2')  // 两个参数也可以传入 elem 对象，class 选择器
        editor1.create()
    </script>

</body>
</html>