<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>技巧编辑</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}" type="image/x-icon"/>  

<!-- css -->
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/tip/tip-write.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/plugin/editor/wangEditor.min.js}"></script>
<script th:src="@{/plugin/upload/ajaxfileupload.js}"></script>
<script th:src="@{/custom/common/js/ajaxCustome.js}"></script>
<script th:src="@{/custom/tip/tip-write.js}"></script>
<script type="text/javascript">

</script>


</head>
<body>

	<!-- tip-nav -->
	<div class="index-nav">
		<div class="index-nav-logo">
			<a th:href="@{/index}"><img width="50px" height="50px" alt=""
				th:src="@{/custom/common/image/logo.png}"></a>

		</div>
		<div class="main-nav">
			<ul class="layui-nav" lay-filter="">
				<li class="layui-nav-item"><a data-type="release-tip" href="javascript:void(0);">发布</a></li>
				<li data="tip" class="layui-nav-item"><a th:href="@{/member/a/tip}">我的草稿</a></ul>
		</div>
	</div>

	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-md10 layui-col-md-offset1" th:with="isEdit=${rd ne null && rd.result}">
				<form class="form-horizontal" action="" role="form">
					<input class="hide" name="tipId" th:value="${isEdit ? rd.data.id:''}" />
					<div>
						<div th:unless="${isEdit && rd.data.headImg ne null}" class="col-sm-12 img-big-upload">
							<i class="fa fa-image fa-3x"></i>
						</div>
						
						<div th:if="${isEdit  && rd.data.headImg ne null}" class="col-sm-12 img-big-upload show-img">
								<img class="img-thumbnail" th:src="${rd.data.headImg}" />
						</div>
						<input data-type="auto-save" id="file-input" class="hide" type="file" name="file" />
					</div>
					<div class="form-group"></div>
					<div class="form-group">
						<div class="col-sm-12">
							<input data-type="auto-save" th:if="${isEdit}" th:value="${rd.data.title}" type="text" class="tip-e-title form-control" name="title"
								placeholder="请输入标题">
							<input data-type="auto-save" th:unless="${isEdit}" type="text" class="tip-e-title form-control" name="title"
								placeholder="请输入标题">
						</div>
					</div>
				</form>
				<!-- 文本 -->
				<div th:unless="${isEdit}"id="editBox"></div>
				<div th:if="${isEdit}" id="editBox" th:utext="${rd.data.content}"></div>
			</div>
		</div>
	</div>


	<!-- footer -->
	<div th:include="/_model/_footer :: tip-footer"></div>
</body>
</html>