<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>技巧编辑</title>
<!-- css -->
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/tip/tip-write.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugin/editor/wangEditor.min.js}"></script>
<script th:src="@{/plugin/upload/ajaxfileupload.js}"></script>
<script th:src="@{/custom/common/js/ajaxCustome.js}"></script>
<script th:src="@{/custom/tip/tip-write.js}"></script>
</head>
<body style="overflow-y: scroll;">

	<div class="tip-page">
		<nav class="navbar tip-navbar navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<img width="50px" height="50px" alt=""
						th:src="@{/custom/common/image/logo.jpg}">
				</div>
				<div>
					<ul class="nav navbar-nav  navbar-right">
						<li class="active"><a href="#">发布</a></li>
						<li><a href="#">个人中心</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> 保存 <b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#">我的技巧</a></li>
								<li class="divider"></li>
								<li><a data-type="save-draft" href="javascript:void(0);">草稿</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" action="" role="form">
						<div>
							<div class="col-sm-12 img-big-upload">
								<i class="fa fa-image fa-3x"></i>
							</div>
							<input id="file-input" class="hide" type="file" name="file" />
						</div>
						<div class="form-group"></div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" class="tip-e-title form-control" name="title"
									placeholder="请输入标题">
							</div>
						</div>
					</form>
					<!-- 文本 -->
					<div id="editBox"></div>
				</div>
			</div>
		</div>

		<div class="tip-footer">
			<div class="container">
				<div class="col-md-4 col-md-offset-4">
					<footer>
						<p>
							<span>© 2018－2024 tips.com, all rights reserved </span>
						</p>
						<p>
							<span>Email：gatecm@163.com&nbsp; &nbsp; Phone：15968183204</span>
						</p>
					</footer>
				</div>
			</div>
		</div>
	</div>
</body>
</html>