<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>技巧编辑</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}"
	type="image/x-icon" />
<!-- css -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/tip/tip-write.css}" />
<!-- js -->
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/plugin/editor/wangEditor.min.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<script th:src="@{/custom/tip/tip-write.js}"></script>
</head>
<body>
	<!-- tip-nav -->
	<div class="index-nav">
		<div class="index-nav-logo">
			<a th:href="@{/index}"><img width="50px" height="50px" alt=""
				th:src="@{/custom/common/image/logo.png}"></a>
		</div>
		<div class="main-nav">
			<ul class="layui-nav" lay-filter="">
				<li data="tip" class="layui-nav-item"><a
					th:href="@{/member/a/tip}">我的草稿</a>
			</ul>
		</div>
	</div>

	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-md10 layui-col-md-offset1"
				th:with="isEdit=${rd ne null && rd.result}">
				<form class="layui-form layui-form-pane" action="" role="form">
					<input autocomplete="off" class="hide" name="tipId"
						th:value="${isEdit ? rd.data.id:''}" />

					<div class="tip-setup">
						<div class="tip-setup-switch">
							<i class="fa fa-angle-right fa-rotate-90"></i>
						</div>
						<div class="tip-setup-box" style="display: block">
							<div class="layui-form-item">
								<div class="layui-inline">
									<div class="layui-input-inline">
										<select autocomplete="off" th:if="${isEdit}" name="type" lay-filter="type">
											<option th:selected="${rd.data.type eq 1}"  value="1">原创</option>
											<option th:selected="${rd.data.type eq 2}"  value="2">转载</option>
										</select>
										<select autocomplete="off" th:unless="${isEdit}" name="type" lay-filter="type">
											<option value="1" selected="selected">原创</option>
											<option value="2">转载</option>
										</select>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">版块</label>
								<div th:if="${isEdit}" id="plate-checked" class="layui-input-block plate-check">
									<span th:each="plate,plateStat:${rd.data.plates}" th:data="${plate.id}" th:text="${plate.name}">  
									</span>
								</div>
								<div th:unless="${isEdit}" id="plate-checked" class="layui-input-block plate-check"></div>
							</div>
							<div class="layui-form-item">
								<div id="tip-plate-box" class=""></div>
							</div>
						</div>
					</div>

					<div class="layui-form-item title">
<!-- 						<label class="layui-form-label">标题</label> -->
						<div class="layui-input-block">
							<input autocomplete="off" data-type="auto-save"
								th:value="${isEdit?rd.data.title:''}" type="text" class="layui-input"
								name="title" placeholder="请输入标题">
						</div>

					</div>
					<!-- 文本 -->
					<div th:unless="${isEdit}" id="editBox"></div>
					<div th:if="${isEdit}" id="editBox" th:utext="${rd.data.content}"></div>
					<div class="layui-form-item">
						<div class="layui-row">
							<div class="layui-col-md12 submit">
								<button type="button" data-type="release-tip" class="layui-btn">发布</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- footer -->
	<div th:include="_model/_footer :: tip-footer"></div>
</body>
</html>
