
body {
    background-color: #fce7ee;
}

.index-nav,.layui-nav{
    background-color: #ffa87a !important;
}

.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a {
    color: #000 !important;
}

.layui-nav .layui-this::after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed::after {
	background-color: #FF7C60;
}

.layui-btn{
background-color: #fcb948 !important;
}

.layui-fixbar li {
    background-color: #fcb948 !important;
}