<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div th:fragment="tip-footer">
		<div class="tip-footer">
			<div class="container">
				<div class="col-md-4 col-md-offset-4">
					<footer>
						<p>
							<span>© 2018－2024 tips.com, all rights reserved </span>
						</p>
						<p>
							<span>Email：gatecm@163.com&nbsp; &nbsp; Phone：15968183204</span>
						</p>
					</footer>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
