<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div th:fragment="index-nav">
		<div class="index-nav">
			<div class="index-nav-logo">
				<a th:href="@{/index}"><img width="50px" height="50px" alt=""
					th:src="@{/custom/common/image/logo.png}"></a>

			</div>
			<div class="main-nav">
				<ul class="layui-nav" lay-filter="main-nav">
					<li data="index" class="layui-nav-item"><a th:href="@{/index}">首页</a></li>
					<li data="center" class="layui-nav-item"><a
						th:data="${@shiroSessionUtils.getMemberId()}"
						th:href="@{/member/center}">个人中心</a></li>
					<li data="write" class="layui-nav-item"><a th:href="@{/tip/write}">发技巧</a></li>
					<li data="#"  class="layui-nav-item"><a href="#">论坛</a></li>
					<li data="#" class="layui-nav-item"><a href="#">关于我们</a></li>
					<!-- 				<li class="layui-nav-item"><a href="javascript:;">解决方案</a> -->
					<!-- 					<dl class="layui-nav-child"> -->
					<!-- 						二级菜单 -->
					<!-- 						<dd> -->
					<!-- 							<a href="">移动模块</a> -->
					<!-- 						</dd> -->
					<!-- 						<dd> -->
					<!-- 							<a href="">后台模版</a> -->
					<!-- 						</dd> -->
					<!-- 						<dd> -->
					<!-- 							<a href="">电商平台</a> -->
					<!-- 						</dd> -->
					<!-- 					</dl></li> -->
					<!-- 				<li class="layui-nav-item"><a href="">社区</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
