<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div th:fragment="index-nav">
		<div class="index-nav">
			<div class="index-nav-logo">
				<a th:href="@{/index}"><img width="50px" height="50px" alt=""
					th:src="@{/custom/common/image/logo.png}"></a>
			</div>
			<div class="main-nav">
				<ul class="layui-nav" lay-filter="main-nav">
					<li data="index" class="layui-nav-item"><a th:href="@{/index}">首页</a></li>
					<li data="center" class="layui-nav-item"><a
						th:href="@{/member/center}">个人中心</a></li>
					<li data="write" class="layui-nav-item"><a
						th:href="@{/tip/write}">发技巧</a></li>
					<li data="#" class="layui-nav-item"><a href="#">论坛</a></li>
					<li data="#" class="layui-nav-item"><a href="#">关于我们</a></li>
					<li th:if="${@shiroSessionUtils.getMember() ne null}"
						th:object="${@shiroSessionUtils.getMember()}"
						class="layui-nav-item"><a href="javascript:void(0);"><img
							th:src="*{headUrl}" class="layui-nav-img">我</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;">修改信息</a>
							</dd>
							<dd>
								<a href="javascript:;">安全管理</a>
							</dd>
							<dd>
								<a th:href="@{/login/signout}">退了</a>
							</dd>
						</dl></li>
						
					<li data="signin"
						th:unless="${@shiroSessionUtils.getMember() ne null}"
						class="layui-nav-item"><a th:href="@{/login/signin}">登录</a></li>
					<li data="signup"
						th:unless="${@shiroSessionUtils.getMember() ne null}"
						class="layui-nav-item"><a th:href="@{/login/signup}">注册</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
