package cn.gov.zcy.ad.exchange.message.manager;

import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import cn.gov.zcy.merchant.platform.dao.${table.mapperName};
import cn.gov.zcy.ad.exchange.message.domain.${entity}DO;

/**
 * Created by yaoguang on ${date}.
 * Description: ${table.name}
 *
 * @author <a href="mailto:chenxiaohui@cai-inc.com"/>
 */
@Component
@Slf4j
public class ${entity}Manager {

    @Autowired
    private ${table.mapperName} ${table.mapperName};
	
}
