package com.cm.eql.core.manager;

import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import com.cm.eql.core.dao.${table.mapperName};
import com.cm.eql.core.model.${entity};

/**
 * Created by yaoguang on ${date}.
 * Description: ${table.name}
 *
 * @author <a href="mailto:chenxiaohui@cai-inc.com"/>
 */
@Component
@Slf4j
public class ${entity}Manager {

    @Autowired
    private ${table.mapperName} ${table.mapperName};
	
}
