package cn.gov.zcy.merchant.platform.dao;

import cn.gov.zcy.merchant.platform.domain.${entity}DO;
import org.springframework.stereotype.Repository;
import java.util.List;
import java.util.Map;

/**
 * Created by yaoguang on ${date}.
 * Description: ${table.name}
 *
 * @author <a href="mailto:chenxiaohui@cai-inc.com"/>
 */
@Repository
public interface ${table.mapperName} {
    /**
     * 创建
     * @param ${entity}DO
     * @return
     */
    int create(${entity}DO ${entity}DO);
    /**
     * 批量创建
     * @param ${entity}DOList
     * @return
     */
    int creates(List<${entity}DO> ${entity}DOList);
    /**
     * 按id加载
     * @param id
     * @return
     */
    ${entity}DO loadById(Long id);
    /**
     * 按id删除
     * @param id
     * @return
     */
    int deleteById(Long id);
    /**
     * 更新
     * @param ${entity}DO
     * @return
     */
    int update(${entity}DO ${entity}DO);
    /**
     * 按条件查询
     * @param paramMap
     * @return
     */
    List<${entity}DO> list(Map<String, Object> paramMap);
    /**
     * 按条件统计
     * @param paramMap
     * @return
     */
    long count(Map<String, Object> paramMap);
}