<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>首页</title>
<link rel="icon" th:href="@{/custom/common/image/logo.ico}" type="image/x-icon"/>  

<!-- css -->
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/plugin/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/common/css/common.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/custom/index/index.css}" />
<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugin/layui/layui.js}"></script>
<script th:src="@{/custom/common/js/common.js}"></script>
<script th:src="@{/custom/common/js/ajaxCustome.js}"></script>
<script th:src="@{/custom/common/js/time.js}"></script>

<script type="text/javascript">
	$(function() {
		loadList(1, 3, "new-tip");
		loadList(1, 5, "hot-tip");
		loadList(1, 5, "audit-tip");
		//绑定技巧跳转链接
// 		$('a[class="tip-info"]').click(function() {
// 			var tipId = $(this).attr("data");
// 			location.href = "/tip/" + tipId + "/detail";
// 		});
	});
	function loadList(pageNum, pageSize, boxId) {
		var tipShowBox = $("#" + boxId);
		tipShowBox.empty();
		var getUrl = "/api/tip/release/list";
		var requestData = "pageNum=" + pageNum + "&pageSize=" + pageSize;
		$.get(getUrl,requestData,function(result){
			$.each(result.data.list, function(n, value) {
				var memberId = value.belongMember.id;
				tipShowBox.append('<div class="tip-entry">'
						+ '<div class="member" data="'+memberId+'">'
						+ '<img src="'+value.belongMember.headUrl+'" />' + '</div>'
						+ '<div class="tip-record">'
						+ '<a class="member-info"'
						+ 'href="/member/'+ memberId+'/space">'
						+ value.belongMember.nickname + '</a>'
						+ '<br /><a class="tip-info"'
						+ 'href="/tip/'+value.id+'/detail">' + value.title + '</a>'
						+ '<br /><span>' + getDateDiff(value.gmtCreate)
						+ '</span></div></div>');
			});
		});
	}
	
	layui.use('util', function(){
		var util = layui.util;
		//执行
		util.fixbar({
// 		   bar1: "&#xe604;",
// 		   click: function(type){
// 		      console.log(type);
// 		      if(type === 'bar1'){
// 		        alert('点击了bar1')
// 		      }
// 		    }
		  });
		});
</script>



</head>
<body>
	<div class="tip-page">
		<!-- index-nav -->
		<div th:include="/_model/_index-nav :: index-nav"></div>
		<div class="container">
			<!-- main -->
			<div class="row">
				<div class="col-md-12 search">
					<div class="col-md-8 col-md-offset-2">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="sr-only" for="name">名称</label>
								<div class="col-sm-8 col-md-offset-1">
									<input type="text" class="form-control" id="name"
										placeholder="请输入技巧名称">
								</div>
								<button type="submit" class="btn btn-default col-sm-1">搜索</button>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-3">
								<div class="list-title">最新技巧</div>
								<div id="new-tip" class="tip-list"></div>
							</div>
							<div class="col-md-8 banner">
								<div class="row clearfix">
									<div class="col-md-12 column">
										<div class="carousel slide" id="carousel-559266">
											<ol class="carousel-indicators">
												<li class="active" data-slide-to="0"
													data-target="#carousel-559266"></li>
												<li data-slide-to="1" data-target="#carousel-559266"></li>
												<li data-slide-to="2" data-target="#carousel-559266"></li>
											</ol>
											<div class="carousel-inner">
												<div class="item active">
													<img alt=""
														th:src="@{/custom/common/image/test-banner.jpg}" />
													<div class="carousel-caption">
														<h4>网站公告</h4>
														<p>网站公告</p>
													</div>
												</div>
												<div class="item">
													<img alt=""
														th:src="@{/custom/common/image/test-banner.jpg}" />
													<div class="carousel-caption">
														<h4>网站公告</h4>
														<p>网站公告</p>
													</div>
												</div>
												<div class="item">
													<img alt=""
														th:src="@{/custom/common/image/test-banner.jpg}" />
													<div class="carousel-caption">
														<h4>网站公告</h4>
														<p>网站公告</p>
													</div>
												</div>
											</div>
											<a class="left carousel-control" href="#carousel-559266"
												data-slide="prev"><span
												class="glyphicon glyphicon-chevron-left"></span></a> <a
												class="right carousel-control" href="#carousel-559266"
												data-slide="next"><span
												class="glyphicon glyphicon-chevron-right"></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>

						<div class="row">
							<br />
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="list-title">最热技巧</div>
								<div id="hot-tip" class="tip-list"></div>
							</div>
							<div class="col-md-6">
								<div class="list-title">待评技巧</div>
								<div id="audit-tip" class="tip-list"></div>
							</div>
						</div>
					</div>

					<div class="col-md-2">
						<div class="row">
							<div class="col-md-12">签到</div>
							<div class="col-md-12">活跃用户</div>
							<div class="col-md-12">状态</div>
						</div>
					</div>
				</div>
			</div>

			<!-- footer -->
			<div th:include="/_model/_footer :: tip-footer"></div>
		</div>
</body>
</html>