<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gatecm.tip.mapper.MemberBasicDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gatecm.tip.entity.MemberBasic">
		<id column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_update" property="gmtUpdate" />
		<result column="status" property="status" />
		<result column="nickname" property="nickname" />
		<result column="head_url" property="headUrl" />
		<result column="phone_number" property="phoneNumber" />
		<result column="qq" property="qq" />
		<result column="we_chat" property="weChat" />
		<result column="email" property="email" />
		<result column="sex" property="sex" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="motto" property="motto" />
		<result column="birthday" property="birthday" />
		<result column="age" property="age" />
		<result column="occupation" property="occupation" />
		<result column="total_point" property="totalPoint" />
		<result column="current_point" property="currentPoint" />
		<result column="is_del" property="isDel" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create AS gmtCreate, gmt_update AS gmtUpdate, status, nickname, head_url AS headUrl, phone_number AS phoneNumber, qq, we_chat AS weChat, email, sex, password, salt, motto, birthday, age, occupation, total_point AS totalPoint, current_point AS currentPoint, is_del AS isDel
    </sql>

</mapper>
