<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gatecm.tip.mapper.SysTipPlateDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gatecm.tip.entity.SysTipPlate">
		<id column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_update" property="gmtUpdate" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="parent_plate_id" property="parentPlateId" />
		<result column="del_f" property="delF" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gmt_create AS gmtCreate, gmt_update AS gmtUpdate, name, code, parent_plate_id AS parentPlateId, del_f AS delF
    </sql>
    
    <!-- Vo查询映射结果 -->
	<resultMap id="VoResultMap" type="com.gatecm.tip.dto.vo.PlateVo"></resultMap>
    
    <select id="selectVoByParam" resultMap="VoResultMap">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM sys_tip_plate
		<trim prefix="WHERE" prefixOverrides="AND || OR">
			<if test="name != null">
				AND name=#{name}
			</if>
			<if test="code != null">
				AND code=#{code}
			</if>
			<if test="parentPlateId !=null ">
				AND parent_plate_id=#{parentPlateId}
			</if>
			<if test="delF !=null ">
				AND del_f=#{delF}
			</if>
			ORDER BY code asc
		</trim>
	</select>
    
    

</mapper>
